<header class="flex flex-col p-6 items-center h-[24vh]">
    <img src="assets/imgs/logo.png" class="object-contain movil:w-64 md:w-72">
    <h2 class="text-gray-500 text-4xl mt-1">Turno Web</h2>
</header>
  