<div class="flex justify-center pt-12 h-[71vh]">

    <div class="scale-up-center movil:w-4/5 sm:w-4/5 md:w-1/4">
    
        <form *ngIf="!loading" [formGroup]="form" (submit)="rutTurno()">

            <h3 class="text-center text-3xl">RUT</h3>

            <div class="mt-2">
                <input type="text" formControlName="rut" placeholder="Ej: 12.345.678-9" maxLength="12" (input)="formatRut()" class="w-full p-2 border border-gray-300 focus:border-blue-600 focus:outline-none text-center text-xl" [ngClass]="{'border-red-500 focus:border-red-500':submit == true && form.get('rut')!.invalid || submit  && validatedRut == false }">
                <div *ngIf="submit && form.get('rut')!.invalid " class="text-red-500">
                    ¡Este campo es obligatorio!
                </div>
                <div *ngIf="submit && form.get('rut')!.valid && validatedRut == false" class="text-red-500">
                    ¡Por favor ingresa un rut válido!
                </div>
            </div>

            <div class="mt-3 w-full">
                <button type="submit" class="bg-blue-600 text-white text-xl w-full p-2">Turno</button>
            </div>
        </form>

    <div class="flex justify-center">
        <app-loading *ngIf="loading"></app-loading>
    </div>  

    </div>

</div>