
<div class="flex flex-col items-center h-[71vh]">

    <ng-container *ngIf="!loading">
        <button *ngFor="let serie of listaSeries" (click)="selectService(serie.id)" class="scale-up-center bg-blue-600 text-white movil:w-4/5 sm:w-full md:w-5/12 p-6 mb-4 text-xl hover:bg-blue-700">
            {{serie.nombre}}
        </button>
    </ng-container>
    
      <app-loading *ngIf="loading"></app-loading>
      
</div>
