<div class="flex justify-center pt-12 h-[71vh] scale-up-center">

    <div class="movil:w-4/5 sm:w-4/5 md:w-1/4">
    
        <form [formGroup]="form" (submit)="login()">

            <h3 class="text-center text-3xl">Teléfono</h3>

            <div class="mt-2">
                <input type="number"formControlName="telefono" placeholder="Ej: 912345678" onKeyPress="if(this.value.length==9) return false;" class="w-full p-2 border border-gray-300 focus:border-blue-600 focus:outline-none text-center text-xl" [ngClass]="{'border-red-500 focus:border-red-500':submit && form.get('telefono')!.invalid} || submit && form.get('telefono')!.errors?.['pattern']">
                <div *ngIf="submit && form.get('telefono')!.invalid && !form.get('telefono')!.errors?.['pattern']" class="text-red-500">
                    ¡Este campo es obligatorio!
                </div>
                <div *ngIf="submit && form.get('telefono')!.errors?.['pattern']" class="text-red-500">
                    ¡Por favor ingresa un teléfono válido!
                </div>
            </div>

            <div class="mt-3 w-full">
                <button type="submit" class="bg-blue-600 text-white text-xl w-full p-2">Turno</button>
            </div>
        </form>

    </div>

</div>