<div class="flex justify-center  h-[71vh]">

    <div class="movil:w-4/5 sm:w-4/5 md:w-1/4">

        <div class="scale-up-center" *ngIf="turno.estado == 'I' && !loading">
            <div class="bg-blue-600 p-3">
                <div class="text-center">
                    <h1 class="text-3xl text-white">Tu turno es</h1>
                    <h1 class="text-7xl text-white ">{{turno.letra}} {{turno.numero}}</h1>
                </div>
            </div>

            <div class="text-center text-xl mt-3">
                <p>{{turno.fecha | date:'d/MM'}} | {{turno.fecha | date:'h:mm'}}</p>
            </div>

            <div class="text-center mt-3">
                <h1 *ngIf="!poolTurno.numero_actual" class="text-3xl">Refrescando atenciones ....</h1>
                <h1 *ngIf="poolTurno.numero_actual" class="text-3xl">Atendiendo al Turno "{{poolTurno.letra_servicio}}  {{poolTurno.numero_actual}}"</h1>
                <h4 class="text-red-500 text-lg">Mantente atento a los números de atención en tu teléfono</h4>
            </div>
        </div>

        <div class="scale-up-center" *ngIf="turno.estado == 'L' && !loading">
            <div class="bg-red-500 p-3">
                <div class="flex flex-col items-center">
                    <h1 class="text-3xl text-white">Tu turno es</h1>
                    <h1 class="text-7xl text-white ">{{turno.letra}} {{turno.numero}}</h1>
                    <img src="assets/imgs/bell.gif" class="mt-1 rounded-full" width="70">
                </div>
            </div>

            <div class="text-center text-xl mt-3">
                <p>{{turno.fecha | date:'d/MM'}} | {{turno.fecha | date:'h:mm'}}</p>
            </div>

            <div class="text-center mt-3">
                <h1 class="text-red-500 text-5xl">Modulo {{turno.modulo}} te esta llamando</h1>
                <h1 *ngIf="poolTurno.numero_actual > 1" class="text-3xl">Atendiendo al Turno "{{poolTurno.letra_servicio}}  {{poolTurno.numero_actual}}"</h1>
                <h4 class="text-red-500 text-lg">Mantente atento a los números de atención en tu teléfono</h4>
            </div>
        </div>

        <div class="scale-up-center" *ngIf="turno.estado == 'A' || turno.estado == 'O' && !loading">
            <div class="bg-yellow-400 p-3">
                <div class="flex flex-col items-center text-center">
                    <h1 class="text-4xl text-white">Turno "{{turno.letra}} {{turno.numero}}" ya fue atendido</h1>
                    <img src="assets/imgs/bell.gif" class="mt-1 rounded-full" width="70">
                </div>
            </div>

            <div class="text-center text-xl mt-3">
                <p>{{turno.fecha | date:'d/MM'}} | {{turno.fecha | date:'h:mm'}}</p>
            </div>

            <div class="text-center mt-3">
                <h1 class="text-red-500 text-5xl">Tu turno ya fue atendidio</h1>
            </div>

            <div class="mt-3 w-full">
                <button routerLink="/" class="bg-blue-600 text-white text-xl w-full p-2">Sacar turno</button>
            </div>
        </div>

        <div class="flex justify-center">
            <app-loading *ngIf="loading"></app-loading>
        </div>  

    </div>
    
</div>
